.aside {
  background: #454445;
  width: 22.5%;
  color: #FFFFFF;
  float:left;
  margin-left:50px;

  ul {
    padding: 0 25px 0 25px;
    font-weight:300;
  }

  li {
    list-style-type: none;
    position: relative;
  }

  a {
    font-weight: 100;
  }
}

.aside hr {
  display: block;
  margin: 10px 0;
}

@media only screen and (max-width: 64em) and (min-width: 40.063em) {
  .aside {
    width: 95%;
    margin-left: 2.5%;

    ul {
      padding: 0 15px 0 15px;
    }
  }
}

@media only screen and (max-width: 40em) {
  .aside {
    width: 100%;
    margin-left: 0;

    ul {
      padding: 0 15px 0 15px;
    }
  }
}
