html {
overflow: -moz-scrollbars-vertical;
overflow-y: scroll;
}

body {
  background-color: #ebebeb;
  line-height: 1;
  margin: 0;
}

.site-wrapper {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 40em) {  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {  /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
}

@media only screen and (min-width: 64.063em) {  /* min-width 1025px, large screens */
	.site-wrapper {
  	width: 1265px;
	}
}
