.filter {
  p {
    font-size: 16px;
    padding: 5px 0 0 0;
    font-weight: 300;
    color: #ffffff;
  }

  label {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
  }
}
.filter-input{
  float:right;
  font-size:15px;
  font-weight:300;
}

.filter__section {
  padding: 0 0 20px;

  &:not(:last-child) {
    border-bottom: 1px solid #616061;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    height: 20px;
    padding: 19px 0;
    position: relative;
    font-weight:normal;

    img {
      position: absolute;
      right: 0;
      top: 15px;
    }
  }
}
