.site-footer {
  padding:20px;
  width:100%;
  background-color:#e4e4e4;
  height:200px;
  clear:both;
  border: 1px solid #d5d5d5;
  margin-top:20px;
}

.site-footer__big {
  text-align:center;
  color:black;

}

.site-footer__medium {
  text-align:center;
  color:black;
  font-weight:normal;
}

.site-footer__small {
  text-align:center;
  color:black;
  font-weight:300;
}


@media only screen and (max-width: 40em) {  /* max-width 640px, mobile-only styles, use when QAing mobile issues */

.site-footer__medium {
  text-align:center;
  color:black;
  font-weight:normal;
  font-size:16px;

}

.site-footer__small {
  text-align:center;
  color:black;
  font-weight:300;
  font-size:16px;
}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {  /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

}
@media only screen and (min-width: 64.063em) { /* min-width 1025px, large screens */

}
