header.site-header {
  width: 100%;
  height: 70px;
  background: #454445;
  margin-bottom:30px;
}

.site-header__logo {
  width:300px;
  float:left;
  margin-left:50px;

  img {
    margin-bottom: 8px;
    height: 30px;
  }

  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24.8px;
  }

  h1 {
    margin: 20px 0;
  }
}

.site-header__logo__green {
  color: #73b72a;
}

.site-header__burger img {
  margin-top: 36%;
}

@media only screen and (max-width: 40em) {  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
.site-header__logo {
  width:300px;
  float:left;
  margin-left:2.5%;

  img {
    margin-bottom: 8px;
    height: 30px;
  }

  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24.8px;
  }

  h1 {
    margin: 20px 0;
  }
}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {  /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
.site-header__logo {
  width:300px;
  float:left;
  margin-left:2.5%;

  img {
    margin-bottom: 8px;
    height: 30px;
  }

  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24.8px;
  }

  h1 {
    margin: 20px 0;
  }
}

}

@media only screen and (min-width: 64.063em) {  /* min-width 1025px, large screens */
}
