nav {
  width: 50%;
  height: 80px;
  float: right;
  margin-right: 50px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 500;
}

nav li {
  margin-left:40px;
  float: right;
  display: inline;
}

nav li a:link {
  color: #b7b7b7;
}

nav li a:visited {
  color: #b7b7b7;
}

nav li a:active {
  color: #ffffff;
}

nav li a:hover {
  height:70px;
  color: #ffffff;
  border-bottom: 5px solid #73b72a;
    padding-bottom: 20px;
}