.site-outlet {
  width: 69%;
  float: right;
  margin-right: 40px;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {  /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
  .site-outlet {
    width: 95%;
    float: right;
    margin-top: 20px;
    margin-right: 2.5%;
  }
}

@media only screen and (max-width: 40em) {  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  .site-outlet {
    width: 100%;
    float: right;
    margin-right: 0;
    overflow: hidden;
  }
}
