<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Edit company</h1>
  </div>
</div>

<%= render "form.html", changeset: @changeset, company: @company,
                        action: admin_company_path(@conn, :update, @company) %>
