<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Companies</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <p><%= link "Create company", to: admin_company_path(@conn, :new), class: "btn btn-success" %></p>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Logo</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <%= for company <- @companies do %>
              <tr>
                <td><%= company.name %></td>
                <td><img src="/<%= Mobil.Logo.url({company.logo, company}, :thumb) %>"</td>

                <td class="text-right">
                  <%= link "Edit", to: admin_company_path(@conn, :edit, company), class: "btn btn-default btn-sm" %>
                  <%= link "Delete", to: admin_company_path(@conn, :delete, company), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
