<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">New company</h1>
  </div>
</div>
<%= render "form.html", changeset: @changeset, company: @conn.assigns[:company],
                        action: admin_company_path(@conn, :create) %>
