<!DOCTYPE html>
<html>
<head>
  <title>Mobil administration interface</title>
  <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
  <script>
  tinymce.init({
    selector: '.wysiwyg',
    plugins: [
      "code"
    ],
    toolbar: "undo redo | styleselect | bold italic | link image | alignleft aligncenter alignright | charmap code"
  });
  </script>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin_app.css") %>">
</head>
<body>

<div id="wrapper">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin">ADMINISTRATION</a>
    </div>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <ul class="nav navbar-top-links navbar-right">
      <li>
        <%= link "Logout", to: session_path(@conn, :delete) %>
      </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li>
            <%#= link_to '<i class="fa fa-dashboard fa-fw"></i> Dashboard'.html_safe, admin_articles_path %>
          </li>
          <li>
            <a href="#"><i class="fa fa-users"></i> Articles<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <%= link "Articles", to: admin_article_path(@conn, :index) %>
              </li>
              <li>
                <%= link "Create article", to: admin_article_path(@conn, :new) %>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="fa fa-users"></i> Companies<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <%= link "Companies", to: admin_company_path(@conn, :index) %>
              </li>
              <li>
                <%= link "Create company", to: admin_company_path(@conn, :new) %>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="fa fa-users"></i> Subscriptions<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <%= link "Subscriptions", to: admin_subscription_path(@conn, :index) %>
              </li>
              <li>
                <%= link "Create subscription", to: admin_subscription_path(@conn, :new) %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="page-wrapper">

    <%= if get_flash(@conn, :info) do %>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <% end %>
    <%= if get_flash(@conn, :error) do %>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <% end %>

    <%= @inner %>

    <div class="row invisible">
      <div class="col-lg-8">
        <div class="panel panel-default invisible">
          <div class="panel-body">
            <div id="morris-area-chart"></div>
          </div>
        </div>
        <div class="col-lg-8 .invisible">
          <div id="morris-bar-chart"></div>
        </div>
      </div>
      <div class="col-lg-4 invisible">
        <div id="morris-donut-chart"></div>
      </div>
    </div>
  </div>
</div>

<script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
<script src="<%= static_path(@conn, "/js/admin_app.js") %>"></script>
<script>require("web/static/js/admin_app").AdminApp.run()</script>

</body>
</html>
