<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= if @conn.assigns[:meta_description] do %>
      <meta name="description" content="<%= @conn.assigns[:meta_description] %>">
    <% else %>
      <meta name="description" content="Den bästa sidan att hitta rätt mobilabonnemang! Jämför mobilabonnemang i Sverige. Det är snabbt, enkelt och sparar dig pengar!">
    <% end %>

    <link rel="icon" type="image/png" href="/images/24x24.ico" />
    <!-- TradeDoubler site verification 2772315 -->
    <%= if Mix.env == :prod do %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-67990507-1', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>

    <title><%= if @conn.assigns[:page_title], do: "Mobil-abonnemang.se | #{@conn.assigns[:page_title]}", else: "Mobil-abonnemang.se" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="<%= if @conn.request_path == "/", do: "frontpage" %>">
    <header class="site-header">
      <div class="site-wrapper">
        <div class="site-header__logo">
          <h1>
            <img alt="Logo simcard" src="/images/logosimcard.png">
            <%= link to: subscription_path(@conn, :index) do %>
              <span class="site-header__logo__green">Mobil</span>abonnemang.se</a>
            <% end %>
          </h1>
        </div>
        <nav>
          <ul style="float:right;">
            <li>
              <%= link "Guides", to: article_path(@conn, :index) %>
            </li>
            <li>
              <%= link "Abonnemang", to: subscription_path(@conn, :index) %>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="site-wrapper">
      <div class="frontpage aside">
        <ul>
          <li>
            <%= render_existing view_module(@conn), "aside.html", assigns %>
          </li>
        </ul>
      </div>

      <div class="site-outlet">
        <%= @inner %>
      </div>

      <div class="clearfix"></div>
    </div>

    <footer class="site-footer center">
      <h1 class="site-footer__big">
        <span class="site-header__logo__green">Mobil</span>abonnemang</a>
      </h1>
      <h2 class="site-footer__medium">
        Den bästa sidan att hitta rätt mobilabonnemang!</h2>
      <h2 class="site-footer__small">
        Konsument guider, Recensioner, bekvämt och snabbt,  Spara pengar
      </h2>
    </footer>

    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app").App.run()</script>
  </body>
</html>
