<h1 class="header--medium no-margin">Organ för konsumtion</h1>
<h2 class="header--small">Få en bättre inblick i de saker som du bör veta om när du letar efter en ny mobilabonnemang.</h2>

<%= for article <- @articles do %>
	<div class="article-list center">
		<%= link to: article_path(@conn, :show, article.slug) do %>
			<%= tag "img", src: Mobil.Thumb.url({article.thumb, article}, :big_thumb) %>
			<h3 class="header--small bold"><%= article.title %></h1>
			<h4 class="header--tiny"><%= article.manchet %></h2>
		<% end %>
	</div>
<% end %>
