<h1 class="header--medium no-margin"><%= @article.title %></h1>
<h2 class="header--small"><%= raw @article.manchet %></h2>
<%= tag "img", src: "/" <> Mobil.Banner.url({@article.banner, @article}, :banner) %>
<%= raw @article.body %>
