<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Edit subscription</h1>
  </div>
</div>

<%= render "form.html", changeset: @changeset,
                        action: admin_subscription_path(@conn, :update, @subscription) %>
