<div class="row">
  <div class="col-lg-12">

    <%= form_for @changeset, @action, fn f -> %>
      <%= if @changeset.action do %>
        <div class="alert alert-danger">
          <p>Oops, something went wrong! Please check the errors below:</p>
          <ul>
            <%= for {attr, message} <- f.errors do %>
              <li><%= humanize(attr) %> <%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">Overordnet</div>
            <div class="panel-body">
              <div class="form-group">
                <%= label f, :name, "Name", class: "control-label" %>
                <%= text_input f, :name, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= label f, :price, "Price", class: "control-label" %>
                <%= number_input f, :price, step: "any", class: "form-control" %>
              </div>

              <div class="form-group">
                <%= label f, :registration_fee, "Registration fee", class: "control-label" %>
                <%= number_input f, :registration_fee, step: "any", class: "form-control" %>
              </div>

              <div class="form-group">
                <%= label f, :call_time, "Call time", class: "control-label" %>
                <%= number_input f, :call_time, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= label f, :data, "Data", class: "control-label" %>
                <%= number_input f, :data, step: "any", class: "form-control" %>
              </div>

              <div class="form-group">
                <%= label f, :binding_period, "Binding period", class: "control-label" %>
                <%= number_input f, :binding_period, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= label f, :endpoint, "Endpoint", class: "control-label" %>
                <%= text_input f, :endpoint, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= label f, :company_id, "Company", class: "control-label" %>
                <%= number_input f, :company_id, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= checkbox f, :has_4g %>
                <%= label f, :has_4g, "Has 4g", class: "control-label" %>
              </div>

              <div class="form-group">
                <%= checkbox f, :free_sms %>
                <%= label f, :free_sms, "Free sms", class: "control-label" %>
              </div>

              <div class="form-group">
                <%= submit "Save", class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
