<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Subscriptions</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <p><%= link "Create subscription", to: admin_subscription_path(@conn, :new), class: "btn btn-success" %></p>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Company</th>
                <th>Name</th>
                <th>Price</th>
                <th>Registration fee</th>
                <th>Call time</th>
                <th>Data</th>
                <th>Endpoint</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <%= for subscription <- @subscriptions do %>
              <tr>
                <td><%= subscription.company.name %></td>
                <td><%= subscription.name %></td>
                <td><%= subscription.price %></td>
                <td><%= subscription.registration_fee %></td>
                <td><%= subscription.call_time %></td>
                <td><%= subscription.data %></td>
                <td><%= subscription.endpoint %></td>

                <td class="text-right">
                  <%= link "Edit", to: admin_subscription_path(@conn, :edit, subscription), class: "btn btn-default btn-sm" %>
                  <%= link "Delete", to: admin_subscription_path(@conn, :delete, subscription), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
