<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">New Subscription</h1>
  </div>
</div>

<%= render "form.html", changeset: @changeset,
                        action: admin_subscription_path(@conn, :create) %>
