label {
  display: block;
  cursor: pointer;
  padding-left: 30px;
  font-size: 13px;
}

label:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 17px;
  bottom: 1px;
  border-radius: 6px;
  background-color: #FFF;
}

input[type=checkbox] {
  display: none;
}

.checkbox label:before {
  border-radius: 3px;
}

input[type=checkbox]:checked + label:before {
  background: url("/images/check.png") center center no-repeat #FFF;
  width: 22px;
  height: 22px;
}
