.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fluid {
  display: block;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}
.frontpage .aside { 
  display: hidden;
}

.no-margin {
  margin: 0;
}
