body {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
}

a {
  text-decoration: none;
}

.header--huge {
  line-height: 75px;
  font-size: 29px;
}

.header--medium {
  font-size: 30px;
  font-weight: 200;
}

.header--small {
  font-size: 20px;
  font-weight: 200;
}

.header--tiny {
  font-size: 14px;
  font-weight: 400;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid #333333;
}

@media only screen and (max-width: 40em) {  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  .header--huge {
    line-height: 10px;
    font-size: 40px;
  }
}

@media only screen and (min-width: 64.063em) {  /* min-width 1025px, large screens */
  .header--huge {
    line-height: 62px;
    font-size: 50px;
    
    small {
    font-size: 30px;
    }
  }
}
