<h2>Show company</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @company.name %>
  </li>

  <li>
    <strong>Logo:</strong>
    <%= @company.logo %>
  </li>

</ul>


<%= link "Edit", to: company_path(@conn, :edit, @company) %>
<%= link "Back", to: company_path(@conn, :index) %>
