<div class="row">
  <div class="col-lg-12">

    <%= form_for @changeset, @action, [multipart: true], fn f -> %>
      <%= if @changeset.action do %>
        <div class="alert alert-danger">
          <p>Oops, something went wrong! Please check the errors below:</p>
          <ul>
            <%= for {attr, message} <- f.errors do %>
              <li><%= humanize(attr) %> <%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">Content</div>
            <div class="panel-body">
              <div class="form-group">
                <%= label f, :title, "Title", class: "control-label" %>
                <%= text_input f, :title, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= label f, :slug, "URL Alias", class: "control-label" %>
                <%= text_input f, :slug, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= label f, :banner, "Banner", class: "control-label" %>
                <%= file_input f, :banner, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= label f, :thumb, "Thumbnail", class: "control-label" %>
                <%= file_input f, :thumb, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= label f, :manchet, "Manchet", class: "control-label" %>
                <%= textarea f, :manchet, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= label f, :body, "Body", class: "control-label" %>
                <%= textarea f, :body, class: "form-control wysiwyg" %>
              </div>

              <div class="form-group">
                <%= checkbox f, :published %>
                <%= label f, :published, "Publish", class: "control-label" %>
              </div>

              <div class="form-group">
                <%= submit "Save", class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">Seo</div>
              <div class="panel-body">
                <div class="form-group">
                  <%= label f, :meta_description, "Meta description", class: "control-label" %>
                  <%= textarea f, :meta_description, class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
