<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Articles</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <p><%= link "Create article", to: admin_article_path(@conn, :new), class: "btn btn-success" %></p>
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Manchet</th>
                <th>Published</th>
                <th>Created at</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <%= for article <- @articles do %>
              <tr>
                <td><%= article.title %></td>
                <td><%= article.manchet %></td>
                <td><%= article.published %></td>
                <td><%= article.inserted_at %></td>
                <td class="text-right">
                  <%= link "Edit", to: admin_article_path(@conn, :edit, article), class: "btn btn-default btn-sm" %>
                  <%= link "Delete", to: admin_article_path(@conn, :delete, article), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
