<div class="filter">
  <div class="filter__section">
    <p>Minsta samtal<small class="filter-input"><strong id="sliderHours"></strong> Samtal</small></p>
    <div id="filter-hours" data-options="display_selector: #sliderHours; start: 0; end: 600; initial: 0; step: 20" data-slider class="range-slider">
      <div tabindex="0" role="slider" class="range-slider-handle center" aria-valuemin="0" aria-valuemax="100" aria-valuenow="2">
      </div>
      <span class="range-slider-active-segment"></span>
    </div>
    <p>Minsta data<small class="filter-input"><strong id="sliderData"></strong> GB</small>
</p>
    <div id="filter-data" data-options="display_selector: #sliderData; start: 0; end: 15; initial: 0;" data-slider class="range-slider">
      <div tabindex="0" role="slider" class="range-slider-handle center" aria-valuemin="0" aria-valuemax="100" aria-valuenow="2">
      </div>
      <span class="range-slider-active-segment"></span>
    </div>
  </div>

  <div class="filter__section">
    <p><strong>Möjligheter</strong></p>
    <ul>
      <li>
        <input id="filter-free-sms" type="checkbox">
        <label for="filter-free-sms" class="pull-left">Gratis SMS</label>
        <img src="images/filter_sms.png">
      </li>
      <li>
        <input id="filter-free-registration" type="checkbox">
        <label for="filter-free-registration" class="pull-left">Gratis registrering</label>
        <img src="images/filter_subscription.png">
      </li>
      <li>
        <input id="filter-no-contract" type="checkbox">
        <label for="filter-no-contract">Ingen bindning</label>
        <img src="images/filter_contract.png">
      </li>
      <li>
        <input id="filter-4g" type="checkbox">
        <label for="filter-4g">Endast med 4G</label>
        <img src="images/filter_4g.png">
      </li>
    </ul>
  </div>
</div>
