<%= for subscription <- @subscriptions do %>
  <div class="product-list">
    <div class="product-list__image center">
      <%= if subscription.company.logo, do: tag("img", src: Mobil.Logo.url({subscription.company.logo, subscription.company}, :thumb)) %>
    </div>

    <div class="big-icon-header">
      <div class="big-icon-header__icon">
        <img src="images/hours.png">
      </div>

      <hr class="big-icon-header__byline">
      <div class="big-icon-header__text">
        Taltid

        <span class="big-icon-header__value">
          <%= if subscription.call_time == 1000 do %>
            <strong>FRIA</strong>
          <% else %>
            <strong><%= subscription.call_time %></strong> <small>Samtal</small>
          <% end %>
        </span>
      </div>
    </div>

    <div class="big-icon-header">
      <div class="big-icon-header__icon">
        <img src="images/data.png">
      </div>

      <hr class="big-icon-header__byline">
      <div class="big-icon-header__text">
        Data
        <span class="big-icon-header__value">
          <strong><%= subscription.data |> Float.to_string([decimals: 1]) |> String.replace(~r/\.0/, "") %></strong> <small>GB</small>
        </span>
      </div>
    </div>

    <div class="option-box">
      <div class="option-box__header">
        Möjligheter
      </div>
      <div class="option-box__cell">
        <div class="option-box__icon">
          <img src="images/sms.png">
        </div>
        <div class="option-box__text">
          SMS
          <span class="option-box__value">
            <%= if subscription.free_sms do %>
              <strong>Fria</strong>
            <% else %>
              Ej fria
            <% end %>
          </span>
        </div>
       <hr class="option-box__byline">
      </div>
      <div class="option-box__cell">
        <div class="option-box__icon">
            <img src="images/binding.png">
        </div>
        <div class="option-box__text">
        <span class="option-box__value">
          <%= if subscription.binding_period == 0 do %>
            <strong>Ingen</strong>
          <% else %>
            <strong><%= subscription.binding_period %></strong> mån
          <% end %>
        </span>
        </div>
       <hr class="option-box__byline">
      </div>
      <div class="option-box-below__cell">
        <div class="option-box-below__icon">
          <img src="images/connection.png">
        </div>
        <div class="option-box-below__text">
        <span class="option-box-below__value">
          <%= if subscription.has_4g do %>
            <strong>Ja</strong>
          <% else %>
            Ej
          <% end %>
        </span>
        </div>
      </div>
      <div class="option-box-below__cell">
        <div class="option-box-below__icon">
          <img src="images/registration.png">
        </div>
        <div class="option-box-below__text">
        <span class="option-box-below__value">
          <strong><%= subscription.registration_fee |> format_price %>,-</strong>
        </span>
        </div>
      </div>
    </div>

    <div class="product-list__price">
      <strong class="product-list__price__span">kr/mån</strong><strong class="header--huge pull-right"><%= format_price(subscription.price) %><small>,-</small></strong>
      <div class="product-list__price__total">
        Minsta pris <strong><%= Mobil.Subscription.min_price(subscription) |> format_price %>,-</strong>
      </div>

      <a href="<%= subscription.endpoint %>" rel="nofollow" target="_blank" class="btn btn--success btn--big fluid">Välj</a>
    </div>
  </div>
<% end %>

<div id="no-result" class="border-box border-box--gray center hidden">
  <span class="header--medium thin-text">DIN SÖKNING GAV TYVÄRR INGA RESULTAT</span>
</div>

<a id="pager" class="fluid" href="#">
  <div class="border-box border-box--gray center">
    <span class="header--medium thin-text">VISA FLER ABONNEMANG</span>
  </div>
</a>
