<h2>Show subscription</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @subscription.name %>
  </li>

  <li>
    <strong>Price:</strong>
    <%= @subscription.price %>
  </li>

  <li>
    <strong>Registration fee:</strong>
    <%= @subscription.registration_fee %>
  </li>

  <li>
    <strong>Call time:</strong>
    <%= @subscription.call_time %>
  </li>

  <li>
    <strong>Binding period:</strong>
    <%= @subscription.binding_period %>
  </li>

  <li>
    <strong>Has 4g:</strong>
    <%= @subscription.has_4g %>
  </li>

  <li>
    <strong>Endpoint:</strong>
    <%= @subscription.endpoint %>
  </li>

  <li>
    <strong>Company:</strong>
    <%= @subscription.company_id %>
  </li>

</ul>


<%= link "Edit", to: subscription_path(@conn, :edit, @subscription) %>
<%= link "Back", to: subscription_path(@conn, :index) %>
