.article-list {
  float: left;
  width: 30%;
  height: 350px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 6px;

  img {
    width: 100%;
    background-color: black;
  }

  a {
    color: black;
  }

  a:hover h3 {
    text-decoration: underline;
  }
}

.article-list:nth-child(3n+1) {
  margin-left : 10px;
}

.article-list:nth-child(3n+2) {
  margin-left : 10px;
}


@media only screen and (max-width: 40em) {  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  .article-list {
    width: 70%;
    height:400px;
  }

  .article-list:nth-child(3n+1) {
    margin-left : 0;
  }

  .article-list:nth-child(3n+2) {
    margin-left : 0;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {  /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
  .article-list {
    width: 32.2%;
  }
}
