.big-icon-header {
  height: 157px;
}

.big-icon-header__icon {
  height: 60%;
  text-align: center;

  img {
  padding:20px;
  }
}

hr.big-icon-header__byline {
  border: none;
  border-bottom: 1px solid #c6c6c6;
  width: 70%;
  margin: 0 auto;
}

.big-icon-header__text {
  height: 35px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  font-weight:normal;
}

.big-icon-header__value {
  display: block;
  padding:3px;
  font-weight:normal;

  strong {
  font-size:19px;
  }

  small {
  font-size:14px;
  }
}

@media only screen and (max-width: 40em) {  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  .big-icon-header__value {
    font-size: 13px;
    display: block;
    padding:1px;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {  /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
}

@media only screen and (min-width: 64.063em) {  /* min-width 1025px, large screens */
}
