.btn {
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  padding: 5px;
}

.btn:active {
  box-shadow: inset 0 0 25px rgba(0,0,0, .2);
}

.btn--big {
  padding: 12px;
  font-size: 20px;
}

.btn--success {
  background: #73b72a;
  color: #fff;
}
@media only screen and (max-width: 40em) {  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
	.btn--big {
  		padding: 8px;
  		font-size: 20px;
	}
}