.option-box {
	height:155px;
}

.option-box__header {
	height:14%;
	width:100%;
	color:#FFFFFF;
	background-color:#333333;
	text-align:center;
	padding:4px;
	font-size:13px;
  font-weight: 300;
  color: #ffffff;
}

.option-box__cell {
  height: 43%;
  width:50%;
  text-align: center;
  float:left;
  border-left: 1px solid #d5d5d5;
  box-sizing: border-box;

  img {
  margin-top:8px;
  }
}

.option-box-below__cell {
  height: 43%;
  width:50%;
  text-align: center;
  float:left;
  border-left: 1px solid #d5d5d5;
  box-sizing: border-box;

  img {
  margin-top:8px;
  }
}

.option-box__text {
  font-size: 14px;
  text-align: center;
  font-weight:normal;
  padding:10px;
}

.option-box-below__text {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  padding:4px;
}

.option-box__value {
  font-size: 14px;
  font-weight:normal;
}

hr.option-box__byline {
  border: none;
  border-bottom: 1px solid #c6c6c6;
  width: 70%;
  margin: 0 auto;
}
