.product-list {
  background-color: #FFF;
  border: 1px solid #d5d5d5;
  margin-bottom: 20px;
  height: 157px;
}

.product-list > .big-icon-header {
  float: left;
  height: 157px;
  width: 14%;
  border-left: 1px solid #d5d5d5;
  box-sizing: border-box;
}

.product-list > .option-box {
  float: left;
  height: 157px;
  width: 28%;
  box-sizing: border-box;
}

.product-list__image {
  float: left;
  width: 20%;
  box-sizing: border-box;
  line-height: 157px;

  img {
    width: 80%;
  }
}

.product-list__price {
  box-sizing: border-box;
  float: left;
  height: 157px;
  width: 24%;
  padding: 8px 10px;
  border-left: 1px solid #d5d5d5;

  .btn {
    margin-top: 16px;
    height: 30%;
    font-weight: 400;
  }
}

.product-list__price__span {
  line-height: 90px;
  font-size: 16px;
}

.product-list__price__total {
  margin-top: -35px;
  font-weight: normal;
  font-size: 13px;
}

@media only screen and (max-width: 40em) {  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  .product-container {
    width: 100%;
    float: left;
    margin-top: 20px;
  }

  .product-list {
    background-color: #FFF;
    border: 1px solid #d5d5d5;
    margin-bottom: 20px;
    height: 137px;
  }

  .product-list > .big-icon-header {
    float: left;
    height: 137px;
    width: 20%;
    border-left: 1px solid #d5d5d5;
    box-sizing: border-box;
  }

  .product-list > .option-box {
    float: left;
    height: 137px;
    width: 20%;
    box-sizing: border-box;
    display: none;
  }

  .product-list__image {
    float: left;
    width: 30%;
    box-sizing: border-box;
    line-height: 137px;

    img {
      width: 100%;
    }
  }

  .product-list__price {
    box-sizing: border-box;
    float: left;
    height: 137px;
    width: 30%;
    padding: 8px 10px;
    border-left: 1px solid #d5d5d5;

    .btn {
      margin-top: 30px;
      height: 30%;
      font-weight: 400;
    }
  }

  .product-list__price__span {
    line-height: 56px;
    font-size: 13px;
  }

  .product-list__price__total {
    margin-top: -25px;
    font-weight: 200;
    font-size: 11px;
    display: none;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {  /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
  .product-list {
    background-color: #FFF;
    border: 1px solid #d5d5d5;
    margin-bottom: 20px;
    height: 157px;
  }
}
