.range-slider-active-segment {
  background: #d6d6d6;
  border: none;
  border-radius: 5px;
  display: inline-block;
  height: 6px;
  position: absolute;
}

.range-slider-handle {
  border: 1px solid none;
  box-shadow: 0 0 0 3px #d6d6d6;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  position: absolute;
  top: -8px;
  width: 24px;
  z-index: 1;
  border-radius: 20px;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  color: #FFFFFF;
  background: #73b72a;
  padding-top: 5.5px;
}

.range-slider-handle:hover {
  background: #73b72a;
}

.range-slider {
  border: none;
  border-radius: 5px;
  margin: 1.25rem 0;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
  display: block;
  height: 6px;
  width: 100%;
  background: #d6d6d6;
}

.range-slider-handle center small {
  font-size:90%;
}